<html>
<head>
<title><%= title %></title>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/paper.js/0.9.25/paper-core.js"></script>
<script type="text/javascript" src="<%= url %>/socket.io/socket.io.js"></script>
<script><%- src %></script>
</script>
-->
</head>
<body>
    <div class='welcome'>
        <label>Username: <input type="text" name="username" /></label>
        <button>Start</button>
    </div>
    <canvas id="board" resize></canvas>
</body>
</html>
