<html>
<head>
<title>{{title}}</title>
<script type="text/javascript" src="lib/paper-full.min.js"></script>
<script type="text/javascript" src="js/board.js"></script>
</head>
<body>
    <canvas id="board" resize></canvas>
</body>
</html>
